body{
    font-family: New Rocker, sans-serif;
}

nav{
    font-size: 35px;
}

.bgimage {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.ti {
    font-size: 120px;
    font-style: italic;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow:
    1px 1px 0 black,
   -1px -1px 0 black,
    1px -1px 0 black,
   -1px 1px 0 black;
}

.page {
    position: relative;
    min-height: 100vh;
}

.content-wrap{
    padding-bottom: 250px;
}

.f {
    margin-bottom: 20px; 
    font-size: x-large; 
}

.p {
    font-size: x-large; 
    margin-bottom: 5px;
}

@media (max-width: 1100px) {
    .ti {
        font-size: 100px;
    }
}

@media (max-width: 480px) {
    .ti {
        font-size: 80px;
    }
}

@media (max-width: 320px) {
    .ti {
        font-size: 60px;
    }
}

.footer {
    background-color: rgb(60, 75, 60); 
    padding-top: 30px;
  }