body{
    font-family: New Rocker, sans-serif;
    background-color: rgb(30, 40, 30); 
}

nav{
    background-color: rgb(60, 75, 60);
}

.carrousel-item img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 400px;
}